.display {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100dvw;
  height: 100dvh;
}

.display_border {
  display: grid;
  grid-template-rows: 10% 80% 10%;

  margin: 1.5rem;
  width: 100%;
  height: 95%;
  border: 0.3rem dashed var(--color-main);
}
